.clear {
    clear: both;
    float: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.hidden {
    display: none !important;
}

.fd-hidden {
    display: none !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-image {
    transform: scaleX(-1);
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.flex-left {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-reverse {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display_block {
    display: block;
}

.relative {
    position: relative;
}

.col-fd-1 {
    width: 8.33%;
}

.col-fd-2 {
    width: 16.66%;
}

.col-fd-3 {
    width: 25%;
}

.col-fd-4 {
    width: 33.33%;
}

.col-fd-5 {
    width: 41.66%;
}

.col-fd-6 {
    width: 50%;
}

.col-fd-7 {
    width: 58.33%;
}

.col-fd-8 {
    width: 66.66%;
}

.col-fd-9 {
    width: 75%;
}

.col-fd-10 {
    width: 83.33%;
}

.col-fd-11 {
    width: 91.66%;
}

.col-fd-12 {
    width: 100%;
}

.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

[class*="col"],
[class*="col-fd-"] {
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

[class*="col"] img,
[class*="col-fd-"] img {
    max-width: 100%;
}